
/* ***********************slide show starts********************* */
#k-container> a {
  text-decoration: none;
  color: #d8b24e;
  }
  /* #image1 {
  width: 100%;
  height: 450px;
  } */
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  /* img {vertical-align: middle;} */
  
  /* Slideshow container */
  .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 450px;
  margin-top: 115px;
  }
  #image1 {
  width: 100%;
  height: 450px;
  vertical-align: middle;
  }
  
  /* Next & previous buttons */
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
  background-color: #717171;
  }
  
  /* Fading animation */
  /* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  } */
  
  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 400px) {
  .prev, .next,.text {font-size: 11px}
  }
  
  /* ************************slide show ends*************************************** */
  
  /* ****************************what is in the bag starts****************************  */
  .products_bag
  {            
  text-transform: uppercase;
  text-align: center;
  
  margin: 4%;
  }
  .products_bag  div
  {
  display: inline-block;
  padding: 1.5%;
  border-bottom: 2px solid #e4b961;
  }
  .show_products
  {
  border: px solid;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  place-items: center;


  }
  .products_image:hover{
    opacity: 1;
    background-color: grey;
    border-radius:1px ;
    border: 1px solid;
    }
    .products_image img
    {
    padding: 2%;
    border: 3px solid #e4b961;
    border-radius: 20%;
    width: 90%;
    }
  .products_item
  {
    display: inline-block;
    width: 21.5%;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    margin: 1% 1% 1% 2% ;
    
    overflow: hidden;
    /* display: flex; */
    border: px solid;

  }
  #krishna{

    display: flex;
    width:  calc(200px * 20);
    animation: scroll78 40s linear infinite;
    border: px solid;
    
    overflow: hidden;
    height: 90%;
  }
  @keyframes scroll78 {
    0% {
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(-250px * 10));
    }
  }

  /* #krishna::before{
    left: 0;
    top: 0;
  }
  #krishna::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }  */
  .products_image:hover{
    opacity: 1;
    background-color: grey;
    border-radius:1px ;
    border: 1px solid;
    }
  .products_image img
  {
  padding: 2%;
  border: 3px solid #e4b961;
  border-radius: 20%;
  width: 90%;
  }

/* 
.products{
border: 1px solid;
justify-content: center;
margin: auto;
} */


  .subscription
  {
    width: 80%;
  margin: 2% auto;
  }
  @media screen and (min-width:0px) and (max-width:720px) {
  .show_products{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
  }
  
  
  .products_item{
  width: 90%;
  }
  
  .prev_bags{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
 
  }
  .bags{
  width: 100%;
  }
  }
  @media screen and (min-width:0px) and (max-width:320px)
  {
  .show_products{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1,1fr);
  }
  .products_item{
  width: 90%;
  }
  
  
  }
  
  /* ****************************what is in the bag ends****************************  */
  
  /************************ subscription part stars********************************  */
  .subscription
  {
    width: 80%;
  margin: 2% auto;
  gap: 50px;
  }
  #enhi{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  }
  .sub_plan
  {
  display: grid;
  text-align: center;
  gap:150px ;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(1,450px);
  grid-template-areas: "a a a a b b b b ";
  
  }
  .sub_plan b
  {
  font-size: 1.3em;
  color: black;
  }
  .des_plan
  {
  font-size: 0.95em;
  padding-top: 1%;
  text-transform: uppercase;
  border: 1px solid lightgray;
  }
  .btn_plan 
  {
  padding: 4%;
  background-color: #e4b961;
  }
  .plan button
  {
  width: 90%;
  border: 1px solid #fefdf9;
  font-weight: bold;
  background-color: #e4b961;
  color: white;
  }
  .plan button:hover
  {
  color: black;
  }
  .plan strike 
  {
  color: black;
  padding-left: 3%;
  font-weight: 600;
  }
  .off_plan
  {
  border: 1px solid lightgray;
  height: 230px;
  color: #e4b961;
  font-weight: 350;
  }
  .sub_plan :nth-child(1){grid-area: a;}
  .sub_plan :nth-child(2){grid-area: b;}
  
  .signup_bonus
  {
  color: black;
  border-top: 1px solid lightgray;
  margin-top: 4%;
  font-size: 0.9em;
  }
  
  @media screen and (min-width:0px) and (max-width:720px) {
  .sub_plan{
  grid-template-rows: repeat(2,450px);
  grid-template-areas: "a a a a a a b b b b b b" 
  }
  
  }
  @media screen and (min-width:0px) and (max-width:400px)
  {
  .sub_plan{
  grid-template-rows: 450px 450px 550px;
  grid-gap: 0px;
  grid-template-areas: "a a a a a a a a a a a a" 
                  "b b b b b b b b b b b b" 
  }
  
  
  }
  
  /************************ subscription part endss********************************  */
  
  /* ************************************previous page starts********************************** */
  .bag1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
  height: auto;
  border-bottom: 2px solid #d8b24e;
  width: fit-content;
  padding: 2px 30px;
  margin: auto;
  }
  
  .prev_bags
  {
  opacity: 0.6;
  width: 90%;
  margin: auto;
  display: flex;
  border: 1px solid;
  }
  .bags 
  {
  width: 23%;
  margin: 2%;
  border: px solid;
  }
  .bags img
  {
  width: 100%;
  }
  .bags h6
  {
  font-size: 12px;
  margin: 8% 0 3%;
  }
  .bags span
  {
  color: grey;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  }
  .bags span :nth-child(1)
  {
  padding-right: 5%;
  }
  
  @media screen and (min-width:0px) and (max-width:400px) {
  .prev_bags{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
  }
  .bags{
  width: 100%;
  }
  
  }
  @media screen and (min-width:0px) and (max-width:400px)
  {
  .prev_bags{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
  }
  .bags{
  width: 100%;
  }
  }
  
  
  #bag3 {
  width: 100%;
  height: 500px;
  background-color: #f2e5c7;
  }
  
  .test {
  width: 70%;
  height: 350px;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  font-size: 17px;
  line-height: 2;
  }
  
  .fa-quote-left {
  font-size: 60px;
  }
  
  .test > p {
  padding-top: 50px;
  }
  
  .test > h6 {
  font-size: 14px;
  color: #3d3d3a;
  }
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides4 {display: none}
  /* img {vertical-align: middle;} */
  
  /* Slideshow container */
  .slideshow-container4 {
  max-width: 2000px;
  position: relative;
  margin: auto;
  background-color: #f2e5c7;
  vertical-align: middle;
  }
  
  /* Next & previous buttons */
  .prev4, .next4 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next4 {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev4:hover, .next4:hover {
  background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text4 {
  color:black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext4 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot4 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active4, .dot4:hover {
  background-color: #717171;
  }
  
  /* Fading animation */
  /* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  } */
  .test4 {
  width: 70%;
  height: 350px;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  font-size: 17px;
  line-height: 2;
  }
  
  .fa-quote-left {
  font-size: 60px;
  }
  
  .test4 > p {
  padding-top: 50px;
  }
  
  .test4 > h6 {
  font-size: 14px;
  color: #3d3d3a;
  }
  /* @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  } */
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 400px){
  .prev4 .next4,.text4 {font-size: 10px}
  .p1{
  font-size: 14px;
  }
  }
  /* ************************************previous page ends********************************** */
  
  
