
    #container{
       display: flex;
        height: 500px;
        width: 100%;
        /* border: 1px solid black; */
        
        margin-top: 5%;
    }
    #leftcont{
        height: 500px;
        /* border:2 px solid black; */
        width:70%;
    }
    
    #lefttop{
        height: 100px;
        width: 100%;
        margin-bottom: 40px;
        border-bottom: 1px solid black;
        /* border: 1px solid black; */
    }
    #lefttop1cont{
        height: 60px;
        width:100%;
        /* border: 1px solid blue; */
    }
    #lefttop2cont{
        display:flex;
        /* border: 1px solid red; */
        height: 40px;
        width: 100%;
        }
        #lefttop2{
            /* border: 1px solid black; */
            height: 40px;
            width: 40%;
            justify-content: start;
            margin-left: 10px;
        }
        #righttop2{
            display: flex;
            justify-content: flex-end;
            justify-content: space-around;
            height: 40px;
            width: 60%;
            /* border: 1px solid black; */
        }
    #leftbottom{
        
        width: 100%;
        /* border:1px solid blue; */
        
    }
    .product_details{
        width: 100%;
        /* border-bottom: 1px solid black; */
        display:flex;
        /* border:1px solid black; */
    }
    .box1{
        display: flex;
        height:100px;
        width:20%;
        /* border:1px solid black; */
        
  
      }
      .small_img{
          border:1px solid black;
          width: 100%;
          height: 100px;
          margin: auto;
      }
      .box2{
        height: 200px;
        width: 70%;
        display:flex;
        gap:10px
      }
      .name{
         /* border: 1px solid black; */
         margin-top: 40px;
         height: 20%;
         margin-left: 5px;
         
         
         
      }
    
      .price{
          /* border: 1px solid black; */
          width:80px;
          height: 20%;
          margin-top: 40px;
          margin-left: 40px;
         
      }
      .qnt_rem_line_box{
        height: 40px;
        width: 40%;
        /* border: 1px solid orange; */
        display: flex;
        margin-top:35px;
        margin-left: 20px;
      
       
    }
    #qnt_box{
        border: 1px solid black;
        width: 100px;
        height: 40px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 20px;
    
    }
    #qnt_box div:nth-child(2){
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        grid-column: 2/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .qnt{
        border: none;
        background-color: white;
        font-size: 25px;
        cursor: pointer;
        color: gray;
    }
    #qnt_box div:nth-child(2n+1){
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #remove{
        margin-left: 80px;
        margin-top:10px;
        cursor: pointer;
        color: grey;
    }
    #remove:hover{
        text-decoration: underline;
    } 
    #rightcont{
        /* border: 1px solid rgb(146, 183, 12); */
        height:400px; 
        width: 25%;
        margin-top: 100px;
    
    }


    .pricedetails{
       
        width: 100%;
        background-color: #f7f7f7;
        margin: auto;
    }
    #total{
        display: flex;
        width: 100%;
        height: 50px;
        text-align: center;
        align-items: center;
        
    }
    #rs{
    margin-left: 35%;
    }
    #update{
        width: 250px;
        height: 50px;
        text-align: center;
        align-items: center;
        color: white;
        background-color: black;
        margin-top: 20px;
        cursor: pointer;
        margin: auto;
    }
    #checkout{
        width: 250px;
        height: 50px;
        text-align: center;
        align-items: center;
        color: white;
        background-color:#e5b95f ;
        margin-top: 20px;
        cursor: pointer;
        margin: auto;
    }
    #update h3{
        padding: 10px;
    }
    #checkout h3{
        padding: 10px;
    }
    #money{
        margin-top: 30px;
        border-bottom: 1px solid rgb(219, 212, 212);
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        font-family: "Museo Sans", sans-serif;
    
    }
    #price_amount{
        margin-top: 15px;
        font-size: 18px;
        
    }
    #payment_div{
        width: 100%;
        height: 50px;
        background-color: #e5b95f;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-family: "Museo Sans", sans-serif;
        cursor: pointer;
        margin-top: 20px;
    }
    #update_div{
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-family: "Museo Sans", sans-serif;
        cursor: pointer;
    }

  