*{
    font-family: 'Fredoka', sans-serif; 
    /* font-family: 'Poppins', sans-serif; */
}
#brand_div{

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}

#heading_div{
  
    width:80%;
    /* border:1px solid black; */
    margin-left: 150px;
    border-bottom: 2px solid khaki;
    padding-top:25px;
    text-align: center;
}
#brand_container{
   
    width: 82%;
    /* border:1px solid black; */
    margin-top:50px;
    margin-left: 140px;
    padding-bottom: 140px;
    color: dimgray;
    font-weight: 50;
    font-size: 16px;
}
h4{
    color: rgb(19, 15, 15);
}